.ul__container {
  margin: 30px 50px 50px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
}

.li__container {
  padding-top: 20px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  cursor: pointer;
}

.image {
  max-width: 200px;
  margin-bottom: 15px;
}

.normal__serie {
  background-color: pink;
  border: 2px solid pink;
  color: #c90892;
}

.favorite__serie {
  background-color: lightgreen;
  border: 2px solid green;
  color: green;
}
