.title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ul__container {
  margin-top: 20px;
  margin-left: 20px;
}

.li__container {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 10px;
  cursor: pointer;
}

.image {
  max-width: 210px;
  margin-bottom: 10px;
}

.normal__serie {
  background-color: pink;
  color: fuchsia;
}

.favorite__serie {
  background-color: lightgreen;
  border: 2px solid green;
}
