.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.button {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  color: white;
  height: 40px;
  width: 80px;
  background-color: #c90892;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color ease 0.5s;
}

.button:hover {
  background-color: green;
}

.input {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  text-align: center;
  height: 40px;
  width: 200px;
  border: 1px solid #c90892;
  border-radius: 4px;
}
